<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kadaisite.ECsite.Admin.Repository.CategoriesMapper">
    <!--    商品の新規登録-->
    <insert id="insertCategories" parameterType="com.kadaisite.ECsite.Admin.Entity.Categories" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO categories (name,created_at) VALUES (#{name},CURRENT_TIMESTAMP)
    </insert>
    <!-- カテゴリーを全て取得   -->
    <select id="getAllCategories" resultType="com.kadaisite.ECsite.Admin.Entity.Categories">
        SELECT * FROM categories WHERE delete_flg = 0 ORDER BY id
    </select>
    <!-- 該当のカテゴリーデータを取得   -->
    <select id="selectById" resultType="com.kadaisite.ECsite.Admin.Entity.Categories">
        SELECT * FROM categories WHERE id = #{id}
    </select>
    <!-- 該当のカテゴリーデータを更新   -->
    <update id="updateCategory" parameterType="com.kadaisite.ECsite.Admin.Entity.Categories">
        UPDATE categories SET name=#{name},updated_at=CURRENT_TIMESTAMP WHERE id =#{id}
    </update>
</mapper>