<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kadaisite.ECsite.Admin.Repository.AdminMapper">
    <!-- メールでユーザ検索-->
    <select id="selectByUserEmail" resultType="com.kadaisite.ECsite.Admin.Entity.Admin_users">
        SELECT * FROM admin_users WHERE email = #{email}
    </select>

</mapper>
